/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.content p {
	margin-bottom: 10px;
}

.content img{
	padding-right: 10px;
}

.content-box {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 3px 3px 6px #C0C0C0;
	padding: 18px;
}

.header img {
	padding: 10px;
}

.push-left {
	float: left;
}

.push-right {
	float: right;
}

.company_name {
	font-family: 'Boogaloo', sans-serif;
	font-size: 36px;
	color: #116189;
	padding: 9px;
}

.motto {
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
}

nav ul {
	background-color: #D74710;
	border-radius: 5px;
	margin: 25px auto;
	width: 99%;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 110%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background-color: #FF9D45;
	border-radius: 5px;
}


.footer {
	border-top: 1px solid #E0E0E0;
	font-size: 80%;
	font-style: italic;
	clear:both;
	margin-top: 50px;
	padding-top: 10px;
}

.footer a:link,
.footer a:visited {
	text-decoration: none;
}

.footer a:hover {
	text-decoration:underline;
}

.footer p {
	margin-bottom: 20px;
}

.header2 {
	color: #116189;
	font-weight: bold;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.header3 {
	color: #116189;
	font-weight: bold;
	font-size: 18px;
}

.person_name {
	font-weight: bold;
	color: #116189;
}